@import url(http://fonts.googleapis.com/css?family=Pirata+One|Roboto:400,700);
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 13, C:/xampp/htdocs/surubi/sass/main.scss */
html,
button,
input,
select,
textarea {
  color: #fff;
}

/* line 17, C:/xampp/htdocs/surubi/sass/main.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 22, C:/xampp/htdocs/surubi/sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 27, C:/xampp/htdocs/surubi/sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 32, C:/xampp/htdocs/surubi/sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 41, C:/xampp/htdocs/surubi/sass/main.scss */
img {
  vertical-align: middle;
}

/* line 45, C:/xampp/htdocs/surubi/sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 51, C:/xampp/htdocs/surubi/sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 81, C:/xampp/htdocs/surubi/sass/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  background: #1a242f;
}

/* line 87, C:/xampp/htdocs/surubi/sass/main.scss */
.brand {
  font-family: 'Pirata One', cursive;
  font-size: 7em;
  text-shadow: 0 3px 0 #1a242f;
}

/* line 93, C:/xampp/htdocs/surubi/sass/main.scss */
.btn {
  display: inline-block;
  padding: .5em 1em;
  text-decoration: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* line 99, C:/xampp/htdocs/surubi/sass/main.scss */
.btn-primary {
  background: #44e84f;
  -webkit-box-shadow: 0 3px 0 #16b020;
  -moz-box-shadow: 0 3px 0 #16b020;
  box-shadow: 0 3px 0 #16b020;
  color: white;
}
/* line 103, C:/xampp/htdocs/surubi/sass/main.scss */
.btn-primary:hover {
  background: #1bde28;
  -webkit-box-shadow: 0 3px 0 #139a1c;
  -moz-box-shadow: 0 3px 0 #139a1c;
  box-shadow: 0 3px 0 #139a1c;
}

/* line 109, C:/xampp/htdocs/surubi/sass/main.scss */
.btn-rug {
  display: block;
  overflow: hidden;
  width: 2.8em;
  height: 2.8em;
}
/* line 115, C:/xampp/htdocs/surubi/sass/main.scss */
.btn-rug .rondin {
  width: .5em;
  height: .5em;
  margin: .2em;
  background: #3e5771;
  display: block;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
/* line 127, C:/xampp/htdocs/surubi/sass/main.scss */
.btn-rug:hover {
  background: #2c3e50;
}
/* line 129, C:/xampp/htdocs/surubi/sass/main.scss */
.btn-rug:hover .rondin {
  background: white;
  -webkit-box-shadow: 0 2px 0px #1a242f;
  -moz-box-shadow: 0 2px 0px #1a242f;
  box-shadow: 0 2px 0px #1a242f;
}

/* line 135, C:/xampp/htdocs/surubi/sass/main.scss */
.btn-header {
  padding: .35em;
}

/* line 138, C:/xampp/htdocs/surubi/sass/main.scss */
.btn-header-left {
  float: left;
  border-right: 1px solid #2c3e50;
  -webkit-box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
}

/* line 145, C:/xampp/htdocs/surubi/sass/main.scss */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  overflow-x: hidden;
}

/* line 156, C:/xampp/htdocs/surubi/sass/main.scss */
.main {
  background: #2c3e50 url(../img/bg.jpg) 0 0 repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translate(0, 0) perspective(0) rotateY(0);
  -moz-transform: translate(0, 0) perspective(0) rotateY(0);
  -ms-transform: translate(0, 0) perspective(0) rotateY(0);
  -o-transform: translate(0, 0) perspective(0) rotateY(0);
  transform: translate(0, 0) perspective(0) rotateY(0);
}
/* line 168, C:/xampp/htdocs/surubi/sass/main.scss */
.main.translate {
  -webkit-transform: translate(17em, 0.5em) perspective(800px) rotateY(2deg);
  -moz-transform: translate(17em, 0.5em) perspective(800px) rotateY(2deg);
  -ms-transform: translate(17em, 0.5em) perspective(800px) rotateY(2deg);
  -o-transform: translate(17em, 0.5em) perspective(800px) rotateY(2deg);
  transform: translate(17em, 0.5em) perspective(800px) rotateY(2deg);
  -webkit-box-shadow: -4px 0 9px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -4px 0 9px 2px rgba(0, 0, 0, 0.5);
  box-shadow: -4px 0 9px 2px rgba(0, 0, 0, 0.5);
}

/* line 175, C:/xampp/htdocs/surubi/sass/main.scss */
.content-header {
  background: #233140;
  height: 3.5em;
  border-bottom: 1px solid #3e5771;
}

/* line 182, C:/xampp/htdocs/surubi/sass/main.scss */
.content {
  margin: 3em;
  text-align: center;
}
/* line 185, C:/xampp/htdocs/surubi/sass/main.scss */
.content h1 {
  margin: 0.5em 0;
  line-height: 1.2em;
}

/* line 191, C:/xampp/htdocs/surubi/sass/main.scss */
.main-menu {
  background: #11181f url(../img/bgmenu.png) 0 bottom no-repeat;
  position: absolute;
  text-transform: lowercase;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 17em;
}
/* line 201, C:/xampp/htdocs/surubi/sass/main.scss */
.main-menu h3 {
  background: #1a242f;
  margin: 0;
  padding: .5em 1em;
  text-transform: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 209, C:/xampp/htdocs/surubi/sass/main.scss */
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 213, C:/xampp/htdocs/surubi/sass/main.scss */
.main-menu ul li {
  width: 100%;
}
/* line 215, C:/xampp/htdocs/surubi/sass/main.scss */
.main-menu ul li a {
  color: white;
  display: block;
  padding: 1em;
  text-decoration: none;
  border-top: 1px solid #080b0e;
  border-bottom: 1px solid #1e2a36;
}
/* line 222, C:/xampp/htdocs/surubi/sass/main.scss */
.main-menu ul li a:hover {
  background: #0d1318;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 259, C:/xampp/htdocs/surubi/sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 266, C:/xampp/htdocs/surubi/sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 273, C:/xampp/htdocs/surubi/sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 278, C:/xampp/htdocs/surubi/sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 290, C:/xampp/htdocs/surubi/sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 299, C:/xampp/htdocs/surubi/sass/main.scss */
.invisible {
  visibility: hidden;
}

/* line 304, C:/xampp/htdocs/surubi/sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 309, C:/xampp/htdocs/surubi/sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 313, C:/xampp/htdocs/surubi/sass/main.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 322, C:/xampp/htdocs/surubi/sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 330, C:/xampp/htdocs/surubi/sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 334, C:/xampp/htdocs/surubi/sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 338, C:/xampp/htdocs/surubi/sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 348, C:/xampp/htdocs/surubi/sass/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 353, C:/xampp/htdocs/surubi/sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 358, C:/xampp/htdocs/surubi/sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 363, C:/xampp/htdocs/surubi/sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 367, C:/xampp/htdocs/surubi/sass/main.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 377, C:/xampp/htdocs/surubi/sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 383, C:/xampp/htdocs/surubi/sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
