// main.scss

@import url(http://fonts.googleapis.com/css?family=Pirata+One|Roboto:400,700);

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #fff;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "compass/css3";


// Vars

// Colors
$primary-color: #2C3E50;
$secondary-color: #44E84F;
// Sizes
$gap: 17em;


// Mixins
@mixin pirata {
	font-family: 'Pirata One', cursive;
}
@mixin roboto {
	font-family: 'Roboto', sans-serif;
}


body {
	@include roboto;
	background: darken($primary-color, 10%)
}

// Brand
.brand {
	@include pirata;
	font-size: 7em;
	@include text-shadow(0 3px 0 darken($primary-color, 10%));
}

.btn {
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
	@include border-radius(.5em);
}
.btn-primary {
	background: $secondary-color;
	@include box-shadow(0 3px 0 darken($secondary-color, 20%));
	color: white;
	&:hover {
		background: darken($secondary-color, 10%);
		@include box-shadow(0 3px 0 darken($secondary-color, 25%));
	}
}

.btn-rug {
	display: block;
	overflow: hidden;
	width: 2.8em;
	height: 2.8em;

	.rondin {
		width: .5em;
		height: .5em;
		margin: .2em;
		background: lighten($primary-color, 10%);
		display: block;
		float: left;


		@include border-radius(100px);
	}

	&:hover {
		background: $primary-color;
		.rondin {
			background: white;
			@include box-shadow(0 2px 0px darken($primary-color, 10%));
		}
	}
}
.btn-header {
	padding: .35em;
}
.btn-header-left {
	float: left;
	border-right: 1px solid $primary-color;
	@include box-shadow(3px 0 3px rgba(0,0,0,.2));
}


.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	overflow: visible;
	overflow-x: hidden;
}

.main {
	background: $primary-color url(../img/bg.jpg) 0 0 repeat;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;

	@include transition(all 200ms);
	@include transform( translate(0,0) perspective(0) rotateY( 0 ) );

	&.translate {
		@include transform( translate($gap, .5em) perspective(800px) rotateY( 2deg ) );
		@include box-shadow(-4px 0 9px 2px rgba(0,0,0,.5));
	}

}

.content-header {
	background: darken($primary-color, 5%);
	height: 3.5em;
	//border-bottom: 1px solid $primary-color;
	border-bottom: 1px solid lighten($primary-color, 10%);
}

.content {
	margin: 3em;
	text-align: center;
	h1 {
		margin: 0.5em 0;
		line-height: 1.2em;
	}
}

.main-menu {
	background: darken($primary-color, 15%) url(../img/bgmenu.png) 0 bottom no-repeat;

	position: absolute;
	text-transform: lowercase;
	top: 0;
	left: 0;
	min-height: 100%;
	width: $gap;

	h3 {
		background: darken($primary-color, 10%);
		margin: 0;
		padding: .5em 1em;
		text-transform: none;
		@include box-shadow(0 1px 2px rgba(0,0,0,.2));
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			width: 100%;
			a {
				color: white;
				display: block;
				padding: 1em;
				text-decoration: none;
				border-top: 1px solid darken($primary-color, 20%);
				border-bottom: 1px solid darken($primary-color, 8%);
				&:hover {
					background: darken($primary-color, 17%);
				}
			}
		}
	}
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}